@keyframes glow-pink {
  from {
    box-shadow: 0 0 0px #fff,
    0 0 15px var(--neon-pink),
    0 0 25px var(--neon-pink),
    0 0 35px var(--neon-pink),
    0 0 45px var(--neon-pink);
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 15px var(--neon-purple),
    0 0 25px var(--neon-purple),
    0 0 35px var(--neon-purple),
    0 0 45px var(--neon-purple);
  }
}
@keyframes glow-cyan {
  from {
    box-shadow: 0 0 0px #fff,
    0 0 15px var(--neon-cyan),
    0 0 25px var(--neon-cyan),
    0 0 35px var(--neon-cyan),
    0 0 45px var(--neon-cyan);
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 15px var(--neon-purple),
    0 0 25px var(--neon-purple),
    0 0 35px var(--neon-purple),
    0 0 45px var(--neon-purple);
  }
}
@keyframes glow-red {
  from {
    box-shadow: 0 0 0px #fff,
    0 0 15px var(--neon-red),
    0 0 25px var(--neon-red),
    0 0 35px var(--neon-red),
    0 0 45px var(--neon-red);
  }
  to {
    box-shadow: 0 0 5px #fff,
    0 0 15px var(--neon-purple),
    0 0 25px var(--neon-purple),
    0 0 35px var(--neon-purple),
    0 0 45px var(--neon-purple);
  }
}
@keyframes menuBgScroll {
  from {
    background-color: transparent;
  }
}
@keyframes arrow-glow {
  0% {
    filter: invert(50%)
    sepia(0%)
    saturate(0%)
    brightness(100%)
    contrast(100%)
    drop-shadow(0 0 0px var(--neon-cyan));
    
  }
  100% {
    filter: invert(0%)
    sepia(100%)
    saturate(100%)
    brightness(100%)
    contrast(100%)
    drop-shadow(0 0 5px var(--neon-cyan))
    drop-shadow(0 0 15px var(--neon-cyan));
    
  }
}
@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hover-glow-cyan {
  from {
    box-shadow: 0 0 0px #fff;
  }
  to {
    box-shadow: 0 0 5px #fff,
    inset 0 0 8px var(--neon-cyan),
    0 0 8px var(--neon-cyan),
    0 0 15px var(--neon-cyan),
    0 0 30px var(--neon-cyan);
  }
}
@keyframes skills-entrance {
  from {
    opacity: 0;
    transform: translateX(800%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}