:root{
    --neon-cyan: #00F0FF;
    --neon-pink: #FF2EEA;
    --neon-violet: #8A2BE2;
    --neon-purple: #1A0033;
    --neon-red: #FF1744;
    
    --bg-primary: #05070D;
    --bg-secondary: #0A0F18;

    --text-primary: #FFFFFF;
    --text-secondary: #D6DEE8;

    --popup-bg: #000;

    --top-spacing: 80px;
    
    --border-radius: 150px;
    --main-heading: 4vw;
}
::-moz-selection{
    background-color: var(--neon-violet);
    color: var(--text-primary);
}
::selection{
    background-color: var(--neon-violet);
    color: var(--text-primary);
}

/* Universal Style */
*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding:0;

}
html{
    scrollbar-color: var(--neon-pink) var(--neon-purple);
    scroll-behavior: smooth;
}
body{
    background: var(--bg-primary);
    font-family: 'Oxanium', sans-serif;
    background: radial-gradient(circle at 50% 30%,
    var(--neon-purple) 0%, var(--bg-primary) 70%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
img{
    width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Audiowide', sans-serif;
    text-transform: uppercase;
    color: var(--text-primary);
}
h1{
    text-shadow:
    0 0 5px var(--neon-cyan),
    0 0 15px var(--neon-cyan),
    0 0 30px var(--neon-pink);
    font-size: clamp(2.5rem, 4vw + 1rem, 5rem);
    line-height: clamp(2.5rem, 4vw + 1rem, 5rem);
}
h2{
    font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
    line-height: clamp(1.5rem, 3vw + 1rem, 3rem);
    padding: 10px 20px;
}
a.link{
    font-family: 'Oxanium', sans-serif;
    font-size: 25px;
    text-shadow: 0 0 5px var(--neon-cyan);
    padding: 10px 20px;
    font-weight: 600;
    color: var(--neon-cyan);
    background-color: transparent;
    border: solid 2px var(--neon-cyan);
    border-radius: 5px;
    cursor: pointer;
    width: 110px;
    text-decoration: none;
}
a.link:hover{
    background: var(--neon-cyan);
    color: var(--text-primary);
    box-shadow: 0 0 5px var(--neon-cyan), 0 0 15px var(--neon-cyan);
}
button.close{
    font-family: 'Oxanium', sans-serif;
    font-size: 25px;
    text-shadow: 0 0 5px var(--neon-red);
    padding: 10px 20px;
    font-weight: 600;
    color: var(--neon-red);
    background-color: transparent;
    border: solid 2px var(--neon-red);
    border-radius: 5px;
    cursor: pointer;
    width: 110px;
}
button.close:hover{
    background: var(--neon-red);
    color: var(--text-primary);
    box-shadow: 0 0 5px var(--neon-red), 0 0 15px var(--neon-red);
}
p{
    color: var(--text-secondary);
    font-size: 20px;
    line-height: 30px;
}
.container{
    padding:60px 20px;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}
.row{
    display:flex;
    gap: 20px;
}
.col-md-6{
    width: 50%;
}
.heading-border{
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 8px;
    -webkit-animation: glow-cyan 1s ease-in-out infinite alternate;
            animation: glow-cyan 1s ease-in-out infinite alternate;
}
.heading-border::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    -webkit-animation: glow-cyan 1s ease-in-out infinite alternate;
            animation: glow-cyan 1s ease-in-out infinite alternate;
}
.heading-border::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 5px;
}
.heading-border .heading-container{
	background-color: var(--neon-purple);
    border-radius: 10px;
    text-shadow: 0 0 5px var(--neon-cyan),
    0 0 15px var(--neon-cyan),
    0 0 30px var(--neon-pink);
}
.section-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}
@media(max-width: 767px){
    a.link, button.close{
        font-size: 20px;
        width: 100px;
        padding: 8px 20px;
    }
}

/* Main Nav Style */
#main-nav{
    height: var(--top-spacing);
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-animation: menuBgScroll ease-in-out;
            animation: menuBgScroll ease-in-out;
    animation-timeline: scroll(root block);
    animation-range: 0% 100%;
}
#main-nav .container{
    padding:0;
    height: 100%;
}

#main-nav ul{
    display:flex;
    height: 100%;
    justify-content: center;
}
#main-nav li{
    align-content: center;
    text-align: center;
    color: var(--text-primary);
    text-transform: uppercase;
    flex: 1;
    list-style: none;
    max-width: 200px;
    position: relative;
}
#main-nav a{
    height:100%;
    display: block;
    align-content: center;
    font-weight: 600;
    text-decoration: none;
    color:var(--text-primary);
}
#main-nav li a{
    text-shadow: 0px 0px 10px var(--neon-cyan);
}
#main-nav li a:hover{
    color: var(--neon-pink);
}

/* About Me Style */
#about-me{
    padding-top: var(--top-spacing);
}
#about-me .container{
    padding-top: 30px;
    padding-bottom: 50px;
}
#about-me p{
    text-align: center;
}
#about-me .row{
    flex-direction: column;
}
#about-me .col-md-6{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.person-image{
    width: 200px;
    height: 200px;
    border-radius: var(--border-radius);
    position: relative;
}
.person-image img{
    border-radius: var(--border-radius);
    display: block;
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}
#about-me .heading-border, #about-me .heading-border::before {
    -webkit-animation: glow-pink 1s ease-in-out infinite alternate;
            animation: glow-pink 1s ease-in-out infinite alternate;
}

/* Arrow Style */
.arrow-gap{
    text-align: center;
    padding:20px 0 0;
}
.arrow-gap img{
    display: block;
    margin-top: -60px;
}
.arrow-img {
    width: 100px;
    display: block;
    margin: 0 auto;
}
.arrow-img img:first-child{
    -webkit-filter: invert(50%)
    sepia(0%)
    saturate(0%)
    brightness(100%)
    contrast(100%);
            filter: invert(50%)
    sepia(0%)
    saturate(0%)
    brightness(100%)
    contrast(100%);
    -webkit-animation: arrow-glow 3s ease-in-out infinite alternate;
            animation: arrow-glow 3s ease-in-out infinite alternate;
    
}
.arrow-img img:nth-child(2){
    -webkit-filter: invert(50%)
    sepia(0%)
    saturate(0%)
    brightness(100%)
    contrast(100%);
            filter: invert(50%)
    sepia(0%)
    saturate(0%)
    brightness(100%)
    contrast(100%);
    -webkit-animation: arrow-glow 3s ease-in-out infinite alternate;
            animation: arrow-glow 3s ease-in-out infinite alternate;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; 
}
.arrow-img img:nth-child(3){
    -webkit-filter: invert(50%)
    sepia(0%)
    saturate(0%)
    brightness(100%)
    contrast(100%);
            filter: invert(50%)
    sepia(0%)
    saturate(0%)
    brightness(100%)
    contrast(100%);
    -webkit-animation: arrow-glow 3s ease-in-out infinite alternate;
            animation: arrow-glow 3s ease-in-out infinite alternate;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; 
}

/* Skills Style */
.my-skills{
    gap: 40px;
}
.my-skills .heading-border, .my-skills .heading-border::before {
    animation: glow-red 1s ease-in-out infinite alternate-reverse;
}

.skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: clip;
}
.skill{
    font-size: 25px;
    padding: 10px 20px;
    font-weight: 600;
    color: var(--neon-cyan);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
}
.skill:hover, .skill.active{
    color: var(--text-primary);
}
.skill-color-cyan, .skill-color-cyan.active:hover{
    color: var(--neon-cyan);
    border: solid 2px var(--neon-cyan);
    text-shadow: 0 0 5px var(--neon-cyan);
}
.skill-color-pink, .skill-color-pink.active:hover{
    color: var(--neon-pink);
    border: solid 2px var(--neon-pink);
    text-shadow: 0 0 5px var(--neon-pink);
}
.skill-color-violet, .skill-color-violet.active:hover{
    color: var(--neon-violet);
    border: solid 2px var(--neon-violet);
    text-shadow: 0 0 5px var(--neon-violet);
}
.skill-color-red, .skill-color-red.active:hover{
    color: var(--neon-red);
    border: solid 2px var(--neon-red);
    text-shadow: 0 0 5px var(--neon-red);
}
.skill-color-cyan:hover, .skill-color-cyan.active{
    background: var(--neon-cyan);
    box-shadow: 0 0 5px var(--neon-cyan),
    0 0 15px var(--neon-cyan);

}
.skill-color-pink:hover, .skill-color-pink.active{
    background: var(--neon-pink);
    box-shadow: 0 0 5px var(--neon-pink),
    0 0 15px var(--neon-pink);
}
.skill-color-violet:hover, .skill-color-violet.active{
    background: var(--neon-violet);
    box-shadow: 0 0 5px var(--neon-violet),
    0 0 15px var(--neon-violet);
}
.skill-color-red:hover, .skill-color-red.active{
    background: var(--neon-red);
    box-shadow: 0 0 5px var(--neon-red),
    0 0 15px var(--neon-red);
}
.skill.active:hover{
    background: transparent;
    box-shadow: none;
}
.skill{
    opacity: 1;
    -webkit-animation: skills-entrance linear;
            animation: skills-entrance linear;
    animation-timeline: view();
    animation-range: 0% 30%;
}

/* Project Style */
.my-works .heading-border, .my-works .heading-border::before {
    -webkit-animation: glow-cyan 1s ease-in-out infinite alternate;
            animation: glow-cyan 1s ease-in-out infinite alternate;
}
.my-works{
    gap: clamp(40px, 12vw, 50px);
}
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    box-shadow:
    inset 0 0 8px var(--neon-purple),
    0 0 8px var(--neon-pink),
    0 0 20px var(--neon-pink),
    0 0 50px var(--neon-pink);
}
.proj{
    width: 100%;
    height: 300px;
    max-height: clamp(150px, 25vw, 300px);
    -webkit-animation: moveUp cubic-bezier(0.25, 1, 0.5, 1);
            animation: moveUp cubic-bezier(0.25, 1, 0.5, 1);;
    animation-timeline: view();
    animation-range: 0 50%;
}
.proj-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.proj-img {
    max-height:300px;
    border-radius: 10px;
}
.proj-inner:hover{
    -webkit-animation: hover-glow-cyan 0.5s ease forwards;
            animation: hover-glow-cyan 0.5s ease forwards;
}
.proj-img img{
    -o-object-fit:  cover;
       object-fit:  cover;
    height: 300px;
    width: 100%;
    -o-object-position: top;
       object-position: top;
}
.proj-name{
    color: var(--text-primary);
    text-transform: uppercase;
    font-size: 1rem;
}
.projects .proj{
    cursor: pointer;
}
@media(max-width:620px){
    .projects{
        grid-template-columns: repeat(1, 1fr);
    }
    .proj{
        animation-range: 0 40%;
    }
}

/* Popup Style */
.proj-popup{
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display:flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 99;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.proj-popup.show {
    opacity: 1;
    transform: translate(-50%, -50%);
    pointer-events: auto;
}
.proj-site {
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: 0 0 8px 8px;
    width: clamp(320px, 100%, 1000px);
    height: 600px;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: auto;
    padding: 20px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    border: 10px;
    box-shadow:
    inset 0 0 8px var(--neon-violet),
    0 0 8px var(--neon-violet),
    0 0 20px var(--neon-violet),
    0 0 50px var(--neon-violet);
}
.proj-site .container{
    padding: 20px;
}
.proj-site p{
    text-align: left;
}
.proj-left{
    max-height: 400px;
    width:40%
}
.proj-left img{
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
    width: 100%;
    -o-object-position: top;
       object-position: top;
}
.proj-right{
    width:60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.proj-right p{
    color: var(--text-primary);
}
h3.company-name{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow:
    0 0 5px var(--neon-cyan),
    0 0 15px var(--neon-cyan),
    0 0 30px var(--neon-cyan);
    text-align: left;
}
.proj-bottom{
    margin-top: auto;
    gap: 20px;
    display:flex;
    flex-direction: column;
}
.proj-buttons{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}
.text-main{
    color: var(--text-primary);
    text-shadow:
    0 0 5px var(--neon-cyan),
    0 0 15px var(--neon-cyan),
    0 0 30px var(--neon-cyan);
}
.text-main span{
    font-weight: 600;
    color: var(--text-primary);
    text-shadow:
    0 0 5px var(--neon-red),
    0 0 15px var(--neon-red),
    0 0 30px var(--neon-red);
}
@media(max-width:767px){
    .proj-site .row{
        flex-direction: column-reverse;
    }
    .proj-left, .proj-right{
        width: 100%;
    }
    h3.company-name{
        font-size: 25px;
    }
    .proj-right p{
        font-size: 18px;
        line-height: 25px;
    }
    .proj-left{
        display: none;
    }
    .proj-site{
        padding: 0;
    }
}